footer {
    background: $bg1;
    padding-top: 5px;
    color: $bg4;
    font-family: 'Ubuntu', sans-serif;
    .contenedor {
        @extend .sub-cards;
        text-align: center;
        h3 {
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 3rem;
        }
        p {
            max-width: 500PX;
            margin: 10px auto;
            line-height: 28px;
            font-size: 14px;
        }
        .links {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px;
            li {
                margin: 0 10px;
                a {
                    color: $bg5;
                    text-decoration: none;
                    i {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}