.section-novedades {
    h2{
        font-size: 48px;
        text-align: center;
        color: $bg6;
        margin: 8px;
    }
    .novedades {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: 
        "item4 item4 item5" 
        "item2 item3 item5" 
        "item2 item1 item1";
        grid-gap: 10PX;
        padding: 13px;
        .item1 {
            grid-area: item1;
            position: relative;
        }
        .item2 {
            grid-area: item2;
            position: relative;
        }
        .item3 {
            grid-area: item3;
            position: relative;
        }
        .item4 {
            grid-area: item4;
            position: relative;
        }
        .item5 {
            grid-area: item5;
            position: relative;
        }
        .img-item {
            @include sizes(100%, 100%);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .sub {
            position: absolute;
            margin: 0;
            bottom: 0;
            color: rgb(255, 255, 255);
            background: rgb(81, 63, 63);
            width: 100%;
          }
    }
}

@media screen and (max-width: 800px) {
    .section-novedades .novedades {
      grid-template-columns: 1fr;
      grid-template-rows: 300px;
      grid-template-areas: "item4" "item5" "item3" "item2" "item1";
    }
}
